[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "stampr"]
	path = stampr
	url = https://github.com/jedalong/stampr
[submodule "wildlifeDI"]
	path = wildlifeDI
	url = https://github.com/jedalong/wildlifedi
